Create a 1D array of numbers from 0 to 9.

In [8]:
import numpy

import numpy

arr = numpy.array([1, 2, 3, 4, 5, 6, 7, 8, 9])

print(arr)

[1 2 3 4 5 6 7 8 9]



```
Create a 2D array with shape (3, 3), where values range from 1 to 9
```

In [12]:
import numpy as np

arr = np.array([[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9],[1,2,3,4,5,6,7,8,9]])

print( arr)

[[1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]
 [1 2 3 4 5 6 7 8 9]]

Create a 3D array of shape (2, 3, 4) filled with random integers from 1 to 100.

In [14]:
import numpy as np
arr = np.random.randint(1, 101, size=(2, 3, 4))
print(arr)

[[[26 10 69 19]
  [24 62 23 45]
  [78 38 62 94]]

 [[48 49 45 89]
  [23 86 90 98]
  [63 55 79 50]]]

Given the array arr2 from Task 1, extract the second row.

In [15]:
import numpy as np
second_row = arr[1, :]
print(second_row)

[[48 49 45 89]
 [23 86 90 98]
 [63 55 79 50]]